@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100&display=swap');

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:underline}

/* global */
* {box-sizing:border-box;}
.show {display:block}
.hide {display:none}
.horizontal {display:inline-block}
.font_bold {font-family: 'Roboto Condensed', sans-serif;}
.font_thin {font-family: 'Noto Sans KR', sans-serif;}
button { outline:none; }

/* content global */
.wrap_content {width:100%;padding:50px 200px;text-align: center}
.content_title { text-align: center; }
.content_title * { display: block;margin:0 auto; }
.content_title span:first-child{color: rgb(151, 151, 151);border-bottom:2px solid rgb(130, 130, 130);font-size:27px;}
.content_title span:last-child{color:rgb(180,180,180);font-size:17px;}
.add_post { border-radius: 10px;padding: 10px 70px;margin: 30px auto;background-color: rgb(143, 148, 46);font-weight: bold;font-size: 25px;color: white;width: 220px; }
.add_post:hover { cursor: pointer;transition: 0.5s;color: rgb(143, 148, 46);transition-property: background-color;background-color: white; }

/* layout */
html,body{height:100%}

/* navigator */
.navigator { width:100%;padding:15px 20px;display:flex;justify-content:space-around;box-shadow:0px 2px 5px 0px rgba(0,0,0,0.30);position:fixed;left:0;top:0;z-index: 99999;background:#FFFFFF;}
.navi_item { display:inline-block;margin:20px 0px;height:30px;line-height:30px;font:bold 12px Dotum;padding:0 15px;}
.navi_item * { height:30px;line-height:30px;color:black;padding:0px 10px;text-decoration:none;font-family:'Do Hyeon', sans-serif;font-size: 18px;}

/* pagination */
.pagination { margin: 50px auto; }
.pagination ul { display: -webkit-box;display: -ms-flexbox;display: flex;padding-left: 0;list-style: none;border-radius: .25rem;justify-content: center; }
.page-item { position: relative;display: block;padding: .5rem .75rem;margin-left: -1px;line-height: 1.25;color: rgb(143, 148, 46);background-color: #fff;border: 1px solid #dee2e6;font-weight: bold;font-size: 20px; }
.disabled { color: #6c757d;pointer-events: none;cursor: auto;background-color: #fff;border-color: #dee2e6; } 
.page-item:hover { cursor: pointer;text-decoration: underline; }
.page-item:first-child { margin-left: 0;border-top-left-radius: 5px;border-bottom-left-radius: 5px; }
.page-item:last-child { border-top-right-radius: 5px;border-bottom-right-radius: 5px; } 

/* layout header */
.banner { background-image: url("images/banner.jpg");background-repeat: no-repeat;height: 550px; width: auto;overflow: hidden;z-index: -1;text-align: center;}
.clouds { fill:#fff;stroke: #fff;overflow: hidden;margin-top: 90px; }
.banner_title { color: #fff; margin-top: 250px;}
.banner_title * { display: block; }
.banner_title span:first-child{font-weight:bold;font-size:70px;}
.banner_title span:last-child{font-weight:bold;font-size:20px;}

/* attatchments */
.attachments table { width: 100%;margin: 10px auto; }
.attatchment_box td:first-child { padding: 5px 20px; width: 25%; }
.attatchment_box td:last-child { text-align: left;padding: 0 20px; }
.attatchment_box label { padding: 3px 15px;color: dimgrey;font-weight: 600;line-height: normal;vertical-align: middle;cursor: pointer;border: 1px solid dimgrey;border-radius: .25em;font-size: 16px;margin: 0 5px; }
.attatchment_box label:hover { border: 1px solid rgb(143, 148, 46);color: rgb(143, 168, 60); }
.attatchment_box label:active { background-color: rgb(192, 200, 98);color: white; }
.attatchment_box input[type="file"] { position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0; }
.file_list { border: 1px solid #ccc;border-collapse: collapse;color: dimgrey;margin-top: 10px;font-size: 14px; } 
.file_list thead td { border-bottom: 1px solid #ccc;background-color: #fbfbfb;text-align: center; }

/* board list*/
.board .btn_add { color:rgb(143,148,46);background-color:transparent;border:1px solid rgb(143,148,46);border-radius:10px;font-size: 20px;width:150px;padding:5px 25px;margin:30px 0; }
.board .btn_add:hover { cursor: pointer;transition: 0.5s;color: white;transition-property: background-color;background-color: rgb(192, 200, 98); }
.board table { width:100%;border-top:2px solid rgb(143,148,46);border-bottom:2px solid rgb(143,148,46);font-size: 18px;color:rgb(120,120,120);font-family: 'Noto Sans KR', sans-serif;border-collapse:collapse; }
.board table thead * * { border-bottom:2px solid rgb(143,148,46);font-weight:bold; }
.board table thead * th:nth-child(1) { width:100px; }
.board table thead * th:nth-child(2) { width:750px; }
.board table thead * th:nth-child(3) { width:150px; }
.board table thead * th:nth-child(4) { width:200px; }
.board table tbody tr:hover { cursor: pointer; background-color: rgba(0,0,0,.05); }
.board table tbody * * { padding: 7px 0; }

/* board detail */
.board_detail table { width: 100%;border-top:2px solid  rgb(192, 200, 98);border-bottom:2px solid  rgb(192, 200, 98);border-collapse: collapse; }
.board_detail table tbody tr th { width: 20%;padding: 5px 20px;border-bottom: 1px solid rgba(0,0,0,.05);background-color: #f7f7f7 }
.board_detail table tbody tr td { text-align: left;padding: 0 20px;border-bottom: 1px solid rgba(0,0,0,.1); }
.board_detail .contents_box { text-align:left;padding:50px 20px;min-height: 400px; }
.board_detail button { border-radius: 10px;padding: 10px 70px;margin: 30px auto;background-color: rgb(143, 148, 46);font-weight: bold;font-size: 22px;color: white;width: 240px; } 
.board_detail button:hover { cursor: pointer;transition: 0.5s;color: rgb(143, 148, 46);transition-property: background-color;background-color: white; }
/* .board_detail .attatchment_table { width: 100%; } */

/* board editor */
.board_editor .title_table { width: 100%;}
.board_editor .title_table tbody tr td:first-child { width: 25%;padding: 5px 20px;border-right: 2px solid rgb(143, 148, 46); }
.board_editor .title_table tbody tr td:last-child { text-align: left;padding: 0 20px; }
.board_editor .title_table tbody tr td:last-child input { width:100%;font-size: 18px;border:none; }

/* calendar */
.calendar { margin-bottom: 130px; }
.calendar_navigator { width:100%;text-align:right;margin: 15px auto; } 
.calendar_navigator button { cursor:pointer;border-radius:25px;border:1px solid #ddd;color:#333;background-color:#fff;text-align:center;font-size:14px;padding:8px 11px;line-height:1;margin:2px; }
.calendar_navigator button:hover { border-color: rgba(0,0,0,.3); }
.calendar_navigator .move_today { padding: 0 20px;line-height:30px; }
.calendar_navigator span { margin: 0 18px;font-size:18px; }