@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100&display=swap');

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}

/* global */
.show {display:block}
.hide {display:none}

/* layout */
html,body{height:100%}

/* navigator */
.navigator {  }
.navi_item { display:inline;border-left:1px solid #999;font:bold 12px Dotum;padding:0 15px;vertical-align: middle; }
.navi_item > * { color:black;padding:10px 10px;text-decoration:none;font-family:'Do Hyeon', sans-serif;font-size: 18px;}